<div class="container">
  <form
    (input)="updateChangeState()"
    (ngSubmit)="handleSubmission()"
    [formGroup]="postForm"
  >
    <div class="form-group">
      <label class="font-weight-bold" for="title">Title</label>
      <input
        [class.is-invalid]="postForm.get('title')?.errors?.maxlength"
        class="form-control"
        formControlName="title"
        id="title"
        type="text"
      />
      <div class="invalid-feedback text-right" id="title-error">
        The title cannot exceed more than 200 characters!
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="message">Message</label>
      <textarea
        [class.is-invalid]="postForm.get('message')?.errors?.maxlength"
        class="form-control"
        formControlName="message"
        id="message"
      ></textarea>
      <div class="invalid-feedback text-right" id="message-error">
        The message cannot exceed more than 2000 characters!
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-lg-6">
        <div *ngIf="isEdit$ | async" class="d-flex justify-content-start">
          <button
            (click)="askForDelete()"
            class="btn btn-danger"
            type="button"
            id="delete"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="d-flex col-lg-6 justify-content-end">
        <div class="d-flex justify-content-end pr-2">
          <button
            [disabled]="postForm.invalid || (notChanged$ | async)"
            class="btn btn-primary"
            type="submit"
            id="save"
          >
            Save
          </button>
        </div>
        <div class="d-flex justify-content-end">
          <button
            (click)="resetForm()"
            [disabled]="postForm.invalid || (notChanged$ | async)"
            class="btn btn-light"
            type="button"
            id="cancel"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
